<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inventory %>
    <%= form.number_field :inventory %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :buy_date %>
    <%= form.text_field :buy_date %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :experation_date %>
    <%= form.text_field :experation_date %>
  </div>

  <div class="field">
    <%= form.label :route_id %>
    <%= form.text_field :route_id %>
  </div>

  <div class="field">
    <%= form.label :which_user %>
    <%= form.text_field :which_user %>
  </div>

  <div class="field">
    <%= form.label :when_update %>
    <%= form.text_field :when_update %>
  </div>

  <div class="field">
    <%= form.label :create_date %>
    <%= form.text_field :create_date %>
  </div>

  <div class="field">
    <%= form.label :plaints_sum %>
    <%= form.number_field :plaints_sum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
